//  =================================================================
//  Graphene Theme.
//  Light colours, thin text, clean and sharp design.
//  =================================================================

//------------------------------------------------------------------------------
// Responsive margins
//------------------------------------------------------------------------------


body {
    background: url('/caribear/static/src/img/fondo.png');
}


.bg-light {
  background-color: #272525 !important;
  color: white;
}

.nav-link {
    color: white //rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav .nav-link {
    color: white //rgba(255, 255, 255, 0.5);
}


.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #18BC9C}
